<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <link rel='stylesheet' th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>Tasks</title>
</head>
<body>
<div th:insert="~{commons :: navbar}"></div>

<div class="container mt-4">
    <h1 class="text-center">List of Your Tasks</h1>
    <div class="d-flex justify-content-center mb-2">
    <a th:href="@{/task/add}" class="btn btn-primary my-3" role="button">+ Add new Task +</a>
    </div>
    <div class="row">
        <div class="col-md-4" th:each="task : ${tasks}">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal" th:text="${task.summary}">Task Title</h5>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${task.description}">Description...</p><hr>
                    <div class="row mb-2">
                        <div class="col-6">
                            <small class="text-muted" th:text="'Start: ' + ${task.startDate}">Start: Date</small>
                        </div>
                        <div class="col-6">
                            <small class="text-muted" th:text="'Due: ' + ${task.endDate}">Due: Date</small>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <small class="text-muted" th:text="'Category: ' + ${task.taskCategory.getName()}">Category: Type</small>
                        </div>
                        <div class="col-6">
                            <small class="text-muted" th:text="'Status: ' + ${task.getStatus().getName()}">Status: State</small>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <a th:href="@{/editTasks}" class="btn btn-sm btn-outline-info me-2 " role="button">Edit</a>
                        <form method="post" th:action="@{|/task/delete/${task.id}|} "lass="w-50">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</body>
</html>
