<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml">
<head>
  <link rel='stylesheet' th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <meta charset="UTF-8">
  <title>Add Status</title>
</head>
<body>

<div th:insert="~{commons :: navbar}">  </div>

<style>
  .container {
    background-color: #f8f9fa;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-5 text-center">Edit Status</h2>
      <form th:object="${status}" th:method="PUT" th:action="@{|/status/${status.id}|}">

        <!-- name -->
        <div class="mb-2">
          <label for="name" class="form-label">Name:</label>
          <div class="input-group" th:classappend="${#fields.hasErrors('name') ? 'has-validation' : ''}">
            <input type="text" aria-describedby="validationName" class="form-control" id="name"  th:field="*{name}" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" required>
            <div id="validationName" class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
          </div>
        </div>

        <!-- displayName -->
        <div class="mb-2">
          <label for="displayName" class="form-label">Display name:</label>
          <div class="input-group" th:classappend="${#fields.hasErrors('displayname') ? 'has-validation' : ''}">
            <input type="text" aria-describedby="validationDisplayName" class="form-control" id="displayName"  th:field="*{displayname}" th:classappend="${#fields.hasErrors('displayname') ? 'is-invalid' : ''}" required>
            <div id="validationDisplayName" class="invalid-feedback" th:if="${#fields.hasErrors('displayname')}" th:errors="*{displayname}"></div>
          </div>
        </div>

        <!-- submit button -->
        <div class="mb-4 text-center">
          <button type="submit" class="btn btn-primary mt-3">Update status</button>
        </div>

      </form>
    </div>
  </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
</body>
</html>
